* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

main {
  max-width: 992px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

#drop-zone {
  border: 2px dotted #666;
  margin: 0 auto;
  padding: 10px;
  min-height: 300px;
  display: grid;
  place-items: center;
  text-align: center;
  color: #666;
}

#drop-zone.active {
  border: 2px solid dodgerblue;
  background: rgb(191, 211, 218);
}

::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  max-width: 200px;
  color: transparent;
  display: flex;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
}

.fileInupt {
  position: relative;
}

label[for="file-upload"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0%, -50%);
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#canvas-area {
  margin: 0 auto;
  height: 500px;
  display: none;
}

#canvas {
  width: 100%;
  height: 100%;
}

.theme-extraction {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  height: 500px;
}

@media (min-width : 768px) {
  .theme-extraction {
    grid-template-columns: repeat(2, 1fr);
  }
}

.theme {
  overflow: none;
  display: none;
}

#current-pixel {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin: 2px;
}

.color-history {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  width: calc(100% / 5 - 4px);
  height: 50px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  border: 2px solid #ccc;
  vertical-align: top;
}

@media (min-width: 768px){
  .box {
    width: calc(100% / 6 - 4px);
  }

  .theme {
    overflow: auto;
  }
}

.theme-extraction.active .theme{
  display: block;
  min-height: 500px;
  border: 1px solid #ccc;
}

.theme-extraction.active #canvas-area {
  display: inline-block;
  border: 1px solid #ccc;
}
